<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order stuff</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="text/css" href="/style.css">
  </head>
  <style>
    ul {list-style: none; margin: 0; padding: 0; overflow: hidden; background-color: #333}
    li {float: left;}
    li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
    li a:hover {background-color: #111;}
  </style>
  <body>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/getInfo">Campaign Info</a></li>
      <li><a href="/createCampaign">Create Campaign</a></li>
    </ul>
    <form action="/Send" method="post">
      Campaign Name:<br>
      <input type="text" name="campName" value=""><br>
      Type (I for Inbound or O for Outbound):<br>
      <input type="text" name="type" value=""><br>
      TemplateName:<br>
      <input type="text" name="templateName" value=""><br>
      TemplateID:<br>
      <input type="text" name="teamplateID" value=""><br>
      Custome Fields: <br />
      <input type="text" name="custFields" value=""><br>
      NewLeadName: <br />
      <input type="text" name="newLeadName" value=""><br>
      <input type="submit" value="Submit" id="btnSend" />
    </form>
  </body>
</html>